body {
    font-size: 16px;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}